body {
	margin: 0;
	padding: 0;
	background-color: #1f1f1f;
	color: #fff;
}

.info {
	position: fixed;
	padding: 0.8rem 1.2rem;
	border-radius: 200px;
	background: white;
	color: #1f1f1f;
	font-weight: bold;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.6rem;
}
